@font-face {
	font-family: GT-Alpina-Extended;
	font-style: normal;
	font-weight: 500;
	src: 
    url(/assets/fonts/GT-Alpina-Extended-Medium.woff2) format("woff2"),
    url(/assets/fonts/GT-Alpina-Extended-Medium.woff) format("woff");
}

@font-face {
	font-family: GT-Alpina-Extended;
	font-style: italic;
	font-weight: 500;
	src: 
    url(/assets/fonts/GT-Alpina-Extended-Medium-Italic.woff2) format("woff2"),
    url(/assets/fonts/GT-Alpina-Extended-Medium-Italic.woff) format("woff");
}

@font-face {
	font-family: GT-Alpina-Extended;
	font-style: normal;
	font-weight: 400;
	src: 
    url(/assets/fonts/GT-Alpina-Extended-Regular.woff2) format("woff2"),
    url(/assets/fonts/GT-Alpina-Extended-Regular.woff) format("woff");
}

@font-face {
	font-family: GT-Alpina-Extended;
	font-style: italic;
	font-weight: 400;
	src: 
    url(/assets/fonts/GT-Alpina-Extended-Regular-Italic.woff2) format("woff2"),
    url(/assets/fonts/GT-Alpina-Extended-Regular-Italic.woff) format("woff");
}

@font-face {
	font-family: Tilde;
	font-style: normal;
	font-weight: 400;
	src: 
    url(/assets/fonts/tilde-regular.woff2) format("woff2"),
    url(/assets/fonts/tilde-regular.woff) format("woff");
}

@font-face {
	font-family: Garton-Pro;
	font-style: normal;
	font-weight: 400;
	src: 
    url(/assets/fonts/garton-regular-pro.woff2) format("woff2"),
    url(/assets/fonts/garton-regular-pro.woff) format("woff");
}
