@tailwind base;

@tailwind components;

@tailwind utilities;

main {
  @apply px-3 md:px-5 mt-7;
}

ion-slides {
  margin-top: 200px;
}

.ion-page {
  position: static !important;
  width: 100%;
  height: 100%;
}

.about {
  margin-top: 50px;
}

.card-container {
  margin-bottom: 60vh;
}

nhtbl-logo {
  @apply fixed right-7 top-7 z-10;
  animation-name: spin;
  animation-duration: 400000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.images {
  margin-top: 150px;
}

header.main-header {
  @apply left-7 top-7;

  animation:wobble 500s ease-in-out infinite;
  transform-origin:left center;
  transform-style:preserve-3d;
  position: fixed;
  z-index: 99;
  width: 100%;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}

h1 {
  animation:glow 100s ease-in-out infinite;
  -webkit-text-stroke:1px #fff; 
  display:block;
  width:100%;
  padding:0;
  text-transform:uppercase;
  position:absolute;
  color:#0a0a0a;
}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

h1:nth-child(2){ transform:translateZ(3px); }
h1:nth-child(3){ transform:translateZ(6px);}
h1:nth-child(4){ transform:translateZ(9px); }
h1:nth-child(5){ transform:translateZ(12px); }
h1:nth-child(6){ transform:translateZ(15px); }
h1:nth-child(7){ transform:translateZ(18px); }
h1:nth-child(8){ transform:translateZ(21px); }
h1:nth-child(9){ transform:translateZ(24px); }
h1:nth-child(10){ transform:translateZ(27px); }